body {
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(22, 22, 22);
    padding: 0;
    margin: 0;
}
.header {
    background-color: rgb(105, 105, 105);
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;

}
.logo {
    margin-left: 40px;   
    display: inline-block;
    width: 40%;
}
.logo-photo {
    border-radius: 30px; 
   
}   
.discord {
    background-color: gray;
    display: inline-block;
}
.telegram {
    background-color: aqua;
    display: inline-block;
}
.youtube {
    background-color: blue;
    display: inline-block;
}
.icons {
    background-color: white;
    display: inline-block;
    width: 150px;
    text-align: center;
    justify-content: center;
}
h2 {
    color: white;
    width: 100px;
    background-color:black;
    text-align: center;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}