body {
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(45, 44, 44);
    padding: 0;
    margin: 0;
}

.container-slider {
    background-color: rgb(142, 75, 75);
    text-align: center;

}

.slides-and-arrows {
    display: inline-block;
    background-color: blue;
    width: 600px;
    text-align: center;
} 
.shown-slides-only{
    background-color: aqua;
    display: inline-block;
    width: 400px;
    height: 350px;
}
.slide.active-anim {
    display: inline-block;
    height: 350px;
    width: 350px;

    background-color: rgb(53, 57, 56);

}
.picture.active-anim {
    width: 200px;
    height: 200px;
}

.btn-slide {
    user-select: none;
    display: inline-block;
    border: none;
    border-radius: 30px;
}
.btn-slider { 
    width: 25px;
    height: 25px;
}
.btn-slide.prev {
    background-color: aquamarine;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.btn-slide.next {
    background-color: aqua;
    height: 40px;
    width: 40px;
    margin-left: 10px;
}
.picture {
    width: 200px;
    user-select: none;
}
.slide {
    display: none;
    width: 0px;
    background-color: antiquewhite;
}
.container-dots {
    text-align: center;
    background-color: beige;

    height: 50px;
}
.dot {
    margin-top: 15px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 20px;
    background-color: rgb(80, 83, 82);
}
.dot.active-anim {
    border-color: rgb(35, 36, 35);
    background-color: rgb(35, 36, 35);
}