body {
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(45, 44, 44);
    padding: 0;
    margin: 0;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container-slider {
    background-color: rgb(142, 75, 75);
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slides-and-arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 100%;
    height: 50%;
    text-align: center;
} 
.shown-slides-only{
    background-color: aqua;
    display: inline-block;
    width: 80%;
    height: 100%;
}
.slide.active-anim {
    display: flex;
    background-color: rgb(53, 57, 56);
}
.picture.active-anim {
    
}

.btn-slide-div {
    height: 100%;
    width: 10%;
    display: flex;
}
.btn-slide {
    user-select: none;
    border: none;
    display: flex;
    height: 50%;
    width: 50%;
    border-radius: 50%;
}
.btn-slide.prev {
    background-color: aquamarine;
}
.btn-slide.next {
    background-color: aqua;
}
.btn-slider { 
    width: 100%;
    height: 100%;
}
.picture {
    width: 200px;
    user-select: none;
}
.slide {
    display: none;
    background-color: antiquewhite;
}
.container-dots {
    background-color: beige;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 20px;
    background-color: rgb(80, 83, 82);
}
.dot.active-anim {
    border-color: rgb(35, 36, 35);
    background-color: rgb(35, 36, 35);
}